# NextAuth Configuration
# (Run `openssl rand -base64 32` to generate a strong secret)
NEXTAUTH_SECRET=
# E.g., http://localhost:3000 locally, or https://portfolio.38569123.xyz in prod
NEXTAUTH_URL=http://localhost:3000

# Google SSO Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Comma-separated list of emails allowed to access the admin dashboard
ADMIN_EMAILS=yizhe_chin@gmail.com,yizhe1997@gmail.com
