
# Local Infrastructure Scripts Config
infra/scripts/.env
.DS_Store

# Global Env Files
**/.env
**/.env.*
!**/.env.example

# Build Artifacts
.next/
backend/api

# Filebrowser local storage
storage/

# Ignore filebrowser runtime data
wsl-reference-setup/infra/filebrowser/data/
