NEXT_PUBLIC_API_URL=http://localhost:8088/api
ADMIN_EMAILS=hello@systemsplayground.com,hello2@systemsplayground.com
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_URL=http://localhost:8087
NEXTAUTH_SECRET=your_nextauth_secret
INTERNAL_API_SHARED_SECRET=replace_with_the_same_secret_used_by_backend
NEXT_PUBLIC_CONTACT_EMAIL=hello@systemsplayground.com
NEXT_PUBLIC_DISCORD_URL=discord://-/channels/@me/user_id